.header_info {
    background-color: color(deu);
    padding: 3px 13px;
    .container {
        text-align: center;
        width: 85%;
        margin: auto;
        h3 {
            text-transform: uppercase;
            color: color(pre);
            font-size: 15px;
            @include media('v-large-width'){
                font-size: 17px;
            }
        }
        &_all {
            @extend %para;
            @include media('small-width'){
                font-size: 11px;
            }
            @include media('v-large-width'){
                font-size: 15px;
            }
            &_para-1 {
                padding: 0 10px;
                max-width: 462px;
                margin: 0 auto;
                @include media('v-large-width'){
                    max-width: 550px;
                }

            }
            &_para-2 {
                padding: 0 15px;
            }
        }
    }
}