.test {
    text-align: center;
    background: color(qua);
    padding: 10px 0;
    border-radius: 0 0 5px 5px;

    p {
        color: color(pre);
        font-weight: 900;
        font-size: 10px;
        padding: 5px 30px;
        @include media('large-width'){
            font-size: 14px;
        }
        @include media('v-large-width'){
            font-size: 25px;
            font-weight: 700;
        }
    }
    img {
        width: 22px;
        @include media('large-width'){
            width: 30px;
        }
        @include media('v-large-width'){
            width: 75px;
        }
    }
    &_btn {
        margin-top: -5px;
        @include media('v-large-width'){
            margin: 10px 0;
        }
        button {
            border: 0;
            background: url(../minifield/images/back.g.png) center/cover;
            cursor: pointer;
            @include button(
                40%,
                4px 0,
                white,
                color(pre),
                3px,
                12px,
                900
            );
            @include media('v-large-width'){
                padding: 8px 0;
                font-size: 30px;
                font-weight: 700;
            }
        }
    }

}

