
/*---colors---*/

$colors:(
    pre:#1078AD,
    deu:#F4CF1B,
    tro:#369D53,
	qua:#96C5DC,
	cin:#7F7F7F,
);

/*----breakpoint----*/

$break-s: 1px;
$break-m: 413px;
$break-l: 540px;
$break-vl: 768px;
$break-flex: 1210px;
$break-xl: 2000px;




