
/*---colors---*/

$colors:(
    pre:#1078AD,
    deu:#F4CF1B,
    tro:#369D53,
	qua:#96C5DC,
	cin:#7F7F7F,
);

/*----breakpoint----*/

$break-s: 1px;
$break-m: 413px;
$break-l: 540px;
$break-vl: 768px;
$break-flex: 1210px;
$break-xl: 2000px;

$primary: #1078ad;
$secondary: #f4cf1b;
$secondary2: #96c5dc;
$neutral1: black;
$neutral2: #7f7f7f;
$neutral3: #369d53;
$neutral4: white;

@mixin btn {
	text-decoration: none;
	color: white;
	font-weight: 700;
	border: 1px solid $primary;
	padding: 0.5em;
	border-radius: 0.3em;
	font-size: 1.2em;
	width: 60%;
	max-width: 600px;
	background: url(../minifield/images/back.g.png) center/cover;
	margin: 1em auto;
}

