 .header_head {
    text-align: center;
    margin-top: 20px;
    @include media(flex){
        @include flex (
            $content: space-around
        );
    }

    &_img {
        @include media(flex){
            padding-top: 25px;
        }
        .s-width {
            @include media('small-width'){
                width: 320px;
            }
            @include media('v-large-width'){
                display: none;
            }
        }
        .l-width {
            @include media('help'){
                display: none;
            }

        }
    }
   
    &_test {
        margin-top: 15px;
        &_h {
            
            @include media('small-width'){
                font-size: 12px;
            }

            &_h-1 {
                @extend %titles;
                margin-bottom: -5px;
            }
            &_h-2 {
                @extend %titles;
                padding: 0 60px;
                line-height: 1.5;
                margin-bottom: 15px;
                @include media('small-width'){
                    padding: 0 30px;
                }
                @include media(flex){
                    
                }
                span {
                    color: white;
                    @include media('small-width'){
                        display: none;
                    }
                    @include media('large-width'){
                        display: none;
                    }
                    @include media('v-large-width'){
                        display: none;
                    }
                }
            }
        }

        img {
            @include media('small-width'){
                width: 45px;
            }
            @include media('v-large-width'){
                width: 85px;
                
            }
        }
        
        &_para {
            width: 341.50px;
            color: grey;
            font-weight: bold;
            font-size: 14px;
            margin: 0 auto;
            padding: 0.7em 0;
            @include media('small-width'){
                font-size: 13.5px;   
            }
            @include media('v-large-width'){
                font-size: 30px;width: 500px;
            }
            @include media('flex') {
                padding: 0;
                line-height: 1.5;
            }
        }
        button {
            margin-top: 0.7em;
            border: 0;
            background: url(../minifield/images/back.g.png) center/cover;
            cursor: pointer;
            @include button(
                80%,
                10px 0,
                white,
                color(pre),
                3px,
                1.5em,
                700
            );
            @include media('v-large-width'){
                font-size: 32px;
                padding: 10px 0;
                width: 85%;
            }
        }
    }
}