// CLASS TO EXTEND //

%para {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.8;
    color: black;
}

%titles {
    color: color(pre);
    font-size: 18px;
    margin: 0 50px;
    @include media('v-large-width'){
        font-size: 30px;
    }
}

%flex {
    @include flex (
            $content: space-between
        );
}

%navflex {
    @include flex (
        $content: flex-end,
        $align: center
    );
}

%gdpara {
    font-weight: 700;
    font-size: 17px;
    line-height: 1em;
    @include media('small-width'){
        font-size: 15px;
    }
    @include media('v-large-width'){
        font-size: 25px;
        margin-top: 20px;
    }
}

